.list-item {
  list-style-type: none;
  min-height: 150px;
  min-width: 180px;
  margin-right: 50px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 768px) {
  .list-item {
    min-width: 200px;
  }
}

.product-image {
  height: 80px;
}

@media screen and (max-width: 768px) {
  .product-image {
    height: 120px;
  }
}

.name {
  font-size: 12px;
  font-family: "Roboto";
  margin-bottom: 0px;
  color: #36383b;
  font-weight: 600;
}

.price {
  font-size: 12px;
  font-family: "Roboto";
  margin-top: 0px;
  color: #36383b;
  font-weight: 600;
}

.button-add-cart {
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 10px;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  outline: none;
  cursor: pointer;
  align-self: flex-end;
}

.button-name-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
