.navbar-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #e8eaed;
  height: 10vh;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.prod-cart-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

@media screen and (max-width: 768px) {
  .prod-cart-cont {
    width: 40%;
  }
}

.cart-cont {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
}

.cart-icon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.cart-count-badge {
  background-color: #e6f6ff;
}

.store-name {
  font-size: 28px;
  font-weight: 600;
}

.name-product {
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .store-name {
    font-size: 18px;
  }
}
