.navbar-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #e8eaed;
  height: 10vh;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.prod-cart-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.cart-icon {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
