.filter-content-cont {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  width: 60%;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-cont {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-height: 100vh;
  padding-left: 20px;
  padding-top: 40px;
}

.filter-each-item-cont {
  display: flex;
  flex-direction: column;
}

.category-name {
  color: #373a40;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 600;
  margin-bottom: 0px;
}

.label-name {
  color: #373a40;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
