.filter-desktop-view {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 20px;
  padding-top: 40px;
}

@media screen and (max-width: 768px) {
  .filter-desktop-view {
    display: none;
  }
}

.filter-content-cont {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-each-item-cont {
  display: flex;
  flex-direction: column;
}

.category-name {
  color: #373a40;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 600;
  margin-bottom: 0px;
}

.label-name {
  color: #373a40;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.list-item-cont {
  padding-left: 0px;
  list-style-type: none;
}

.clear-filter-button {
  background-color: #7c69e9;
  color: #ffffff;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  outline: none;
  cursor: pointer;
  width: 130px;
}

.clear-button-cont {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.filter-mob-view {
  display: none;
}

@media screen and (max-width: 768px) {
  .filter-mob-view {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
  }
}

.popup-cont {
  display: flex;
  flex-direction: column;
}

.trigger-button {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  color: white;
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: #7c69e9;
  border: none;
  border-radius: 4px;
  outline: none;
  margin-bottom: 25px;
}

.close-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  outline: none;
  cursor: pointer;
  width: 80px;
}
