.filter-prod-cont {
  display: flex;
  min-height: 100vh;
  padding-top: 40px;
  width: 100%;
  justify-content: center;
}

.products-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 80vw;
}

.search-cont {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 30px;
}

.search-input {
  background-color: transparent;
  height: 30px;
  width: 300px;
  margin-right: 5px;
  border: none;
  border-bottom: #85888c solid 2px;
  font-size: 16px;
  font-family: "Roboto";
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 768px) {
  .search-input {
    width: 200px;
  }
}

.search-button {
  height: 30px;
  width: 35px;
  background-color: #85888c;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.search-icon {
  color: #ffffff;
}

.product-list-item-cont {
  display: flex;
  flex-wrap: wrap;
}
